DAL/DBContext/DBSegments/bin/Debug/net8.0/DBSegments.deps.json
DAL/DBContext/DBSegments/bin/Debug/net8.0/DBSegments.dll
DAL/DBContext/DBSegments/bin/Debug/net8.0/DBSegments.pdb
DAL/DBContext/DBSegments/obj/DBSegments.csproj.nuget.dgspec.json
DAL/DBContext/DBSegments/obj/DBSegments.csproj.nuget.g.props
DAL/DBContext/DBSegments/obj/DBSegments.csproj.nuget.g.targets
DAL/DBContext/DBSegments/obj/project.assets.json
DAL/DBContext/DBSegments/obj/project.nuget.cache
DAL/DBContext/DBSegments/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.AssemblyInfo.cs
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.AssemblyInfoInputs.cache
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.assets.cache
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.csproj.CoreCompileInputs.cache
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.csproj.FileListAbsolute.txt
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.dll
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.GeneratedMSBuildEditorConfig.editorconfig
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.GlobalUsings.g.cs
DAL/DBContext/DBSegments/obj/Debug/net8.0/DBSegments.pdb
DAL/DBContext/DBSegments/obj/Debug/net8.0/ref/DBSegments.dll
DAL/DBContext/DBSegments/obj/Debug/net8.0/refint/DBSegments.dll
Tests/ComponentTests/bin/Debug/net8.0/ComponentTests.deps.json
Tests/ComponentTests/bin/Debug/net8.0/ComponentTests.dll
Tests/ComponentTests/bin/Debug/net8.0/ComponentTests.pdb
Tests/ComponentTests/bin/Debug/net8.0/ComponentTests.runtimeconfig.json
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.TestPlatform.AdapterUtilities.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Tests/ComponentTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
Tests/ComponentTests/bin/Debug/net8.0/Newtonsoft.Json.dll
Tests/ComponentTests/bin/Debug/net8.0/NuGet.Frameworks.dll
Tests/ComponentTests/bin/Debug/net8.0/testhost.dll
Tests/ComponentTests/bin/Debug/net8.0/testhost.exe
DAL/RestUtil/MovieContentRest/obj/MovieContentRest.csproj.nuget.dgspec.json
DAL/RestUtil/MovieContentRest/obj/MovieContentRest.csproj.nuget.g.props
DAL/RestUtil/MovieContentRest/obj/MovieContentRest.csproj.nuget.g.targets
DAL/RestUtil/MovieContentRest/obj/project.assets.json
DAL/RestUtil/MovieContentRest/obj/project.nuget.cache
DAL/RestUtil/MovieContentRest/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DAL/RestUtil/MovieContentRest/obj/Debug/net8.0/MovieContentRest.AssemblyInfo.cs
DAL/RestUtil/MovieContentRest/obj/Debug/net8.0/MovieContentRest.AssemblyInfoInputs.cache
DAL/RestUtil/MovieContentRest/obj/Debug/net8.0/MovieContentRest.assets.cache
DAL/RestUtil/MovieContentRest/obj/Debug/net8.0/MovieContentRest.GeneratedMSBuildEditorConfig.editorconfig
DAL/RestUtil/MovieContentRest/obj/Debug/net8.0/MovieContentRest.GlobalUsings.g.cs
Tests/ComponentTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/ComponentTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/ComponentTests/obj/ComponentTests.csproj.nuget.dgspec.json
Tests/ComponentTests/obj/ComponentTests.csproj.nuget.g.props
Tests/ComponentTests/obj/ComponentTests.csproj.nuget.g.targets
Tests/ComponentTests/obj/project.assets.json
Tests/ComponentTests/obj/project.nuget.cache
Tests/ComponentTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Tests/ComponentTests/obj/Debug/net8.0/Componen.3595CA37.Up2Date
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.AssemblyInfo.cs
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.AssemblyInfoInputs.cache
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.assets.cache
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.csproj.AssemblyReference.cache
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.csproj.CoreCompileInputs.cache
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.csproj.FileListAbsolute.txt
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.dll
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.GeneratedMSBuildEditorConfig.editorconfig
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.genruntimeconfig.cache
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.GlobalUsings.g.cs
Tests/ComponentTests/obj/Debug/net8.0/ComponentTests.pdb
Tests/ComponentTests/obj/Debug/net8.0/ref/ComponentTests.dll
Tests/ComponentTests/obj/Debug/net8.0/refint/ComponentTests.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.TestPlatform.AdapterUtilities.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Tests/UnitTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
Tests/UnitTests/bin/Debug/net8.0/Newtonsoft.Json.dll
Tests/UnitTests/bin/Debug/net8.0/NuGet.Frameworks.dll
Tests/UnitTests/bin/Debug/net8.0/testhost.dll
Tests/UnitTests/bin/Debug/net8.0/testhost.exe
Tests/UnitTests/bin/Debug/net8.0/UnitTests.deps.json
Tests/UnitTests/bin/Debug/net8.0/UnitTests.dll
Tests/UnitTests/bin/Debug/net8.0/UnitTests.pdb
Tests/UnitTests/bin/Debug/net8.0/UnitTests.runtimeconfig.json
Tests/UnitTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
Tests/UnitTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
Tests/UnitTests/obj/project.assets.json
Tests/UnitTests/obj/project.nuget.cache
Tests/UnitTests/obj/UnitTests.csproj.nuget.dgspec.json
Tests/UnitTests/obj/UnitTests.csproj.nuget.g.props
Tests/UnitTests/obj/UnitTests.csproj.nuget.g.targets
Tests/UnitTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Tests/UnitTests/obj/Debug/net8.0/UnitTests.AssemblyInfo.cs
Tests/UnitTests/obj/Debug/net8.0/UnitTests.AssemblyInfoInputs.cache
Tests/UnitTests/obj/Debug/net8.0/UnitTests.assets.cache
Tests/UnitTests/obj/Debug/net8.0/UnitTests.csproj.AssemblyReference.cache
Tests/UnitTests/obj/Debug/net8.0/UnitTests.csproj.CoreCompileInputs.cache
Tests/UnitTests/obj/Debug/net8.0/UnitTests.csproj.FileListAbsolute.txt
Tests/UnitTests/obj/Debug/net8.0/UnitTests.csproj.Up2Date
Tests/UnitTests/obj/Debug/net8.0/UnitTests.dll
Tests/UnitTests/obj/Debug/net8.0/UnitTests.GeneratedMSBuildEditorConfig.editorconfig
Tests/UnitTests/obj/Debug/net8.0/UnitTests.genruntimeconfig.cache
Tests/UnitTests/obj/Debug/net8.0/UnitTests.GlobalUsings.g.cs
Tests/UnitTests/obj/Debug/net8.0/UnitTests.pdb
Tests/UnitTests/obj/Debug/net8.0/ref/UnitTests.dll
Tests/UnitTests/obj/Debug/net8.0/refint/UnitTests.dll
WebApi/bin/Debug/net8.0/appsettings.Development.json
WebApi/bin/Debug/net8.0/appsettings.json
WebApi/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
WebApi/bin/Debug/net8.0/Microsoft.OpenApi.dll
WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
WebApi/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
WebApi/bin/Debug/net8.0/WebApi.deps.json
WebApi/bin/Debug/net8.0/WebApi.dll
WebApi/bin/Debug/net8.0/WebApi.exe
WebApi/bin/Debug/net8.0/WebApi.pdb
WebApi/bin/Debug/net8.0/WebApi.runtimeconfig.json
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
WebApi/obj/WebApi.csproj.nuget.g.targets
WebApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WebApi/obj/Debug/net8.0/apphost.exe
WebApi/obj/Debug/net8.0/staticwebassets.build.json
WebApi/obj/Debug/net8.0/WebApi.AssemblyInfo.cs
WebApi/obj/Debug/net8.0/WebApi.AssemblyInfoInputs.cache
WebApi/obj/Debug/net8.0/WebApi.assets.cache
WebApi/obj/Debug/net8.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Debug/net8.0/WebApi.csproj.CoreCompileInputs.cache
WebApi/obj/Debug/net8.0/WebApi.csproj.FileListAbsolute.txt
WebApi/obj/Debug/net8.0/WebApi.csproj.Up2Date
WebApi/obj/Debug/net8.0/WebApi.dll
WebApi/obj/Debug/net8.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
WebApi/obj/Debug/net8.0/WebApi.genruntimeconfig.cache
WebApi/obj/Debug/net8.0/WebApi.GlobalUsings.g.cs
WebApi/obj/Debug/net8.0/WebApi.MvcApplicationPartsAssemblyInfo.cache
WebApi/obj/Debug/net8.0/WebApi.MvcApplicationPartsAssemblyInfo.cs
WebApi/obj/Debug/net8.0/WebApi.pdb
WebApi/obj/Debug/net8.0/ref/WebApi.dll
WebApi/obj/Debug/net8.0/refint/WebApi.dll
WebApi/obj/Debug/net8.0/staticwebassets/msbuild.build.WebApi.props
WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WebApi.props
WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WebApi.props
.vs/MoviePlaylistAPI/FileContentIndex/2e5937a3-3c91-4ced-b9c1-2373df841bc9.vsidx
.vs/slnx.sqlite
WebApi/obj/Release/net8.0/WebApi.AssemblyInfo.cs
WebApi/obj/Release/net8.0/WebApi.AssemblyInfoInputs.cache
WebApi/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WebApi/obj/Release/net8.0/WebApi.assets.cache
WebApi/obj/Release/net8.0/WebApi.GeneratedMSBuildEditorConfig.editorconfig
WebApi/obj/Release/net8.0/WebApi.csproj.AssemblyReference.cache
WebApi/obj/Release/net8.0/WebApi.GlobalUsings.g.cs
/.vs
/Tests/ComponentTests/obj/Release/net8.0
/Tests/UnitTests/obj/Release/net8.0
/DAL/DBContext/DBSegments/obj/Release/net8.0
/DAL/RestUtil/MovieContentRest/obj/Release/net8.0
/Tests/ComponentTests/obj/Debug/net8.0
/WebApi/obj/Debug/net8.0
/Tests/UnitTests/obj/Debug/net8.0
/Models/obj
/Services/obj
/DBContexts/bin/Debug/net8.0
/DBContexts/obj
/Models/bin/Debug/net8.0
/RestUtils/bin/Debug/net8.0
/RestUtils/obj
/Services/bin/Debug/net8.0
/WebApi/bin/Debug/net8.0
/QueueService/bin/Debug/net8.0
/QueueService/obj
/Tests/UnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_UnitTests
/Tests/UnitTests/bin/Debug/net8.0/DBContexts.dll
/Tests/UnitTests/bin/Debug/net8.0/DBContexts.pdb
/Tests/UnitTests/bin/Debug/net8.0/RestUtils.dll
/Tests/UnitTests/bin/Debug/net8.0/RestUtils.pdb
/Tests/UnitTests/bin/Debug/net8.0/Services.dll
/Tests/UnitTests/bin/Debug/net8.0/Services.pdb
/Tests/UnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_UnitTests
/Tests/UnitTests/bin/Debug/net8.0/DBContexts.dll
/Tests/UnitTests/bin/Debug/net8.0/DBContexts.pdb
/Tests/UnitTests/bin/Debug/net8.0/Models.dll
/Tests/UnitTests/bin/Debug/net8.0/Models.pdb
/Tests/UnitTests/bin/Debug/net8.0/QueueService.dll
/Tests/UnitTests/bin/Debug/net8.0/QueueService.pdb
/Tests/UnitTests/bin/Debug/net8.0/Services.dll
/Tests/UnitTests/bin/Debug/net8.0/Services.pdb
